.App {
  margin: -1em 0em;
  background-color: #000;
}
.App ul {
  list-style-type: none;
}
.App ul li {
  display: inline-block;
  padding: 15px;
}
.name-tag {
  font-size: 40px;
  color: bisque;
  text-align: left;
}
.logo {
  max-width: 130px;
  max-height: 130px;
  margin: 0-2em -2em;
  align-content: left;
}
#navigation {
  margin-top: -1.7em;
  min-width: 100%;
  min-height: 3em;
  background: #1a273d;
}
#navigation ul {
  list-style-type: none;
  font-size: 25px;
}
#navigation ul li {
  display: inline;
  padding: 5px 15px;
}
#navigation a {
  text-decoration: none;
  color: bisque;
}
#navigation ul li a {
  float: right;
  padding: 5px 20px;
}
#navigation input {
  float: right;
  margin: 8px 2px;
  padding: 5px 15px;
}
#navigation button {
  float: right;
  min-width: 100px;
  min-height: 29px;
  margin: 8px 25px 5px 0px;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
